
h1 {
  color: rgb(250, 245, 102);
  font-weight: 600;
}


body {
  background-color: #202731;

}

p {
  color: #CABAAB;
}

img {
  Width: 20vw;
  margin: 10px;
}

h2 {
  color: #9ACFDD
  font-family: Monserrat
  font-weight: 400;
}
