
h1 {
  color: rgb(250, 245, 102);
  font-weight: 600;
  text-align: center;
}


body {
  background-color: #202731;
  font-family: Baskerville;
}

p {
  color: #CABAAB;
}

img {
  Width: 40vw;
  margin: 10px;

  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

  width: 500px; /* width of container */
  height: 500px; /* height of container */
  object-fit: cover;
  border: 5px solid #CABAAB;
}

h2 {
  color: #9ACFDD;
  font-weight: 400;
  text-align: center;
  border:solid;
  font-family: Futura;
}

#links h2 {
  color: #D90B1C;
  text-align: center;
  border:solid;
}

#links li {
  color: rgb(250, 245, 102);
}

hr {
  /* color: red; */
  height: 4px;
  background-color: #D90B1C;
  border-color: #D90B1C;
}
