<style>
form {
  margin-left: 20px;
}

#top {
    background-color: rgb(30,100,0);
    border:solid 1px white;
  }

  #top h1 {
      color: white;
    }

  body {
    background-color: #eba434
  }

  ul {
    color: red;
    font-family: Arial;
    font-weight: 600;
  }

  img {
    Width: 20vw;
    margin: 10px;
  }
</style>

/*This is a comment*/
