body{
  background-color: #244A1D;
}



#header{
  font-size: 50pt;
  text-align:center;
  font-family: 'Creepster', cursive;
}

/* .wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.one {
  grid-column: 1 / 3;
  grid-row: 1;
}
.two {
  grid-column: 2 / 4;
  grid-row: 1 / 3;
}
.three {
  grid-column: 1;
  grid-row: 2 / 5;
}
.four {
  grid-column: 3;
  grid-row: 3;
}
.five {
  grid-column: 2;
  grid-row: 4;
}
.six {
  grid-column: 3;
  grid-row: 4;
} */




.gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 15px;
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}



#spookyfacts{
  background-color: #B25200;
  color: #F6FF79;
  margin: 30vh 20vw;
  padding: 10vh 10vw;
  border-radius: 8px;
  font-family: 'Special Elite', cursive;
}

button{
  border-radius: 8px;
  padding: 1vh 3vw;
  float: right;
  margin-top: 1vh;
  background-color: #fffff5;
  color: #4e664d;
}

#boo h2{
  font-family: 'Creepster', cursive;
  color: #DBADD3;
  font-size: 30pt;
}

#mybutton{
  background-color: #6C2C70;
  color: #DBADD3;
  padding: 20px 40px;
  font-size: 20pt;
  float: left;
  margin: 30vh 30vw;

  /* display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%; */
}
