






#designfacts{
  background-color: #B25200;
  color: #F6FF79;
  margin: 30vh 20vw;
  padding: 10vh 10vw;
  border-radius: 8px;
  font-family: 'Special Elite', cursive;
}

#newfact {
    border-radius: 8px;
    padding: 1vh 3vw;
    float: right;
    margin-top: 1vh;
    background-color: pink;
    color: #4e664d;
  }

  #contactimg {
    width:50px;
  }
