#solid{
  border:solid black 2px;
}

img{
  width: 20vw;
}

h1{
  font-family: Helvetica;
}

h2{
  font-family: 'Yeseva One', cursive;
}

h3{
  font-family: 'Encode Sans', sans-serif;
}

#button{
  font-family: 'Encode Sans', sans-serif;
  background: #ABB2D6;
  color: #465573;
  font-size:18pt;
}

#button2
{
  font-family: 'Encode Sans', sans-serif;
  background: #E0CD6E;
  color: #58592A;
  font-size:18pt
}

.circle-one {
  width: 100px;
  height: 100px;
  background: #ABB2D6;
  border-radius: 50%;
}

.circle-two {
  width: 100px;
  height: 100px;
  background: #465573;
  border-radius: 50%;
}

.circle-three {
  width: 100px;
  height: 100px;
  background: #F2F2F0;
  border-radius: 50%;
}

.circle-four {
  width: 100px;
  height: 100px;
  background: #58592A;
  border-radius: 50%;
}

.circle-five {
  width: 100px;
  height: 100px;
  background: #E0CD6E;
  border-radius: 50%;
}
